include versioneer.py src/pytest_mpi/_version.py
include README.md
include pypi-intro.rst
include LICENSE.txt CONTRIBUTING.md code_of_conduct.md
exclude known_broken_constraints.txt old_pytest.txt
recursive-include docs *
recursive-exclude docs/_build *
include doc-requirements.txt
include test-requirements.txt
recursive-include tests *.py
include pylintrc
include tox.ini
exclude TODO
prune **/__pycache__
prune **/*.pyc
prune **/*.swp
prune **/*.swo
exclude bors.toml azure-pipelines.yml codecov.yml
recursive-exclude ci *
